@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
html {
  background: #ffffff;
}
h1, h2 {
  margin-bottom: 12px;
  font-weight: 500;
}
body {
  color: #111111;
  font: 12px/20px "Noto Sans JP", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0 auto;
  width: 800px;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: block;
  margin: 2em 0;
}
header a {
  display: block;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 820px) {
  header a {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
}
footer {
  display: block;
  margin: 6em 0 2em 0;
  border-top: 1px solid #ddd;
  color: #ccc;
  padding-top: 2em;
}
footer a {
  color: #888;
}
footer a:hover {
  color: #111;
}
footer d {
  display: inline;
  padding: 0 0.5em;
}
posts {
  display: block;
}

post {
  display: block;
  margin-bottom: 10em;
}
post.single {
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
post img,
post .img {
  max-width: 100%;
}
post div.caption {
  margin-top: 2em;
}
post div.caption p {
  display: inline;
}
post div.caption p:nth-last-child(2) {
  margin-right: 0.5em;
}
post div.caption a.permalink {
  display: inline-block;
  color: #ccc;
}
post.photo {
  display: block;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
post.photo .box {
  display: flex;
  flex-direction: column;
}
post.photo a {
  display: block;
}
post.photo img {
  display: block;
  margin: 0 auto;
}
post.photo .caption {
  /*background: salmon;*/
  display: flex;
  justify-content: space-between;
}
post.photo .caption .note {
  /*background:yellow;*/
  max-width: 500px;
}
post.photo .caption .time {
  /*background:lightblue;*/
  text-align: right;
  flex: 0 0 auto;
  /*max-width: 35%;*/
  margin-left: 2em;
  opacity: 0.3;
}
post h2 {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #ccc;
}
post h2 a:hover {
  color: #111;
}

/* small screens */
@media only screen and (max-width: 820px) {
  post .caption {
    margin-left: 20px;
    margin-right: 20px;
  }
  post .box[style~="width:"] .caption {
    margin-left: 0;
    margin-right: 0;
  }
}
